{% extends "base.html" %}
{% block body %}
{% load i18n %}
<div class="container theme-showcase" role="main">
    <br>
    <div class="col-md-12 column">
        <div class="jumbotron"> 
            <div class="text-center" ><h3>{% trans 'Course Search' %}<h3></div>
            <a href='/courseinfo/classroom/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Classroom' %}</a><br><br>
            <a href='/courseinfo/coursename/1/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Course' %}</a><br><br>
            <a href='/courseinfo/teachername/1/' class="btn btn-lg btn-danger btn-block">{% trans 'Search by Teacher' %}</a><br><br>
        </div>        
    </div>

    <div class="col-md-12 column">
        <a href='/' class="btn btn-lg btn-success btn-block">{% trans 'Return' %}</a> 
    </div><br><br><br>
</div>
{% endblock %}