{% extends "base.html" %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">华东理工课程管理 - {{ user.username }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block nav %}
          <ul class="nav navbar-nav">
            {% if user in operators %}
              <li class="active"><a href="/schedule/import/">导入课程Excel</a></li>
              <li><a href="/classromm/import/">导入教室Excel</a></li>    
            {% endif %}
            <li><a href="/schedule/list/1">课程列表</a></li>
            <li><a href="/romm/list/">教室列表</a></li>
            <li><a href="/schedule/filter/">查询字段</a></li>
            <li><a href="/">查询课程自习室 </a></li>    
            <li><a href="/admin/">管理</a></li>
            <li><a href="/logout/">退出</a></li>
             
          </ul>
          
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
     
     
    {% block content %}{% endblock %}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/vendor/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/docs.min.js"></script>
    
{% endblock %}